// Background palette.
$custom-dark-theme-background: (

);

// Foreground palette.
$custom-dark-theme-foreground: (

);

// Color palettes.
$dark-primary: mat-palette($mat-indigo, 600, A100, A400);
$dark-accent: mat-palette($mat-indigo, 600, A100, A400);
$dark-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Remplacement des palettes par défaut
$background: map-get($dark-theme, background);
$foreground: map-get($dark-theme, foreground);
$background: map_merge($background, $custom-dark-theme-background);
$foreground: map-merge($foreground, $custom-dark-theme-foreground);
$dark-theme: map_merge(
  $dark-theme,
  (
    background: $background,
    foreground: $foreground,
  )
);
