$primary: mat-palette($mat-green);

// Background palette.
$custom-light-theme-background: (

);

// Foreground palette.
$custom-light-theme-foreground: (

);

// Color palettes.
$light-primary: mat-palette($mat-teal, 600, 400, 700);
$light-accent: mat-palette($mat-teal, 600, 400, 700);
$light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Remplacement des palettes par défaut
$background: map-get($light-theme, background);
$foreground: map-get($light-theme, foreground);
$background: map_merge($background, $custom-light-theme-background);
$foreground: map-merge($foreground, $custom-light-theme-foreground);
$light-theme: map_merge(
  $light-theme,
  (
    background: $background,
    foreground: $foreground,
  )
);
