.mat-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.mat-card-content {
  flex-grow: 1;
}
.mat-card-actions {
  padding: 0.5rem !important;
}
.mat-card > :first-child {
  margin-top: 0.5rem;
}
:host ::ng-deep .mat-card-header-text {
  margin-left: 0;
}
.swimming-pool-card {
  background-color: #f8f8f9;

  .mat-card-header .mat-card-title {
    margin-bottom: 12px;
    letter-spacing: 0.3px;
    font-size: 1.2rem !important;
  }
}
.address-container {
  display: flex;
}
.field {
  color: #1c1e2bad;
}
.address-value {
  padding-left: 1rem;
}
