<mat-card class="swimming-pool-card mat-elevation-z1">
  <mat-card-header>
    <mat-card-title> {{ swimmingPool?.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="address-container">
      <div class="field">Adresse&nbsp;:</div>
      <p class="address-value">
        {{ swimmingPool?.address?.postalCode }}
        {{ swimmingPool?.address?.city }}<br />
        {{ swimmingPool?.address?.line1 }}<br />
        {{ swimmingPool?.address?.line2 }}
      </p>
    </div>
    <p *ngIf="swimmingPool?.website">
      <span class="field">Site web&nbsp;:</span>
      <a [href]="swimmingPool?.website">
        visiter la page de {{ swimmingPool?.name }}
      </a>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">Réserver</button>
  </mat-card-actions>
</mat-card>
