<div class="container-sm mt-5 d-flex flex-column">
  <h2 class="mat-h2">Lieux de réservation</h2>
  <span class="header-divider"></span>

  <raa-swimming-pool-list [swimmingPools]="swimmingPools">
  </raa-swimming-pool-list>
</div>
