// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Breakpoints
$large-breakpoint: 1254px !default;
$medium-breakpoint: 960px !default;
$small-breakpoint: 600px !default;

// Fonts
$font-family: "Poppins", "Helvetica Neue", sans-serif !default;
