<div class="error-message-container">
  <img
    class="error-message-image"
    [src]="errorMessage?.image?.url"
    alt=""
    [ngStyle]="{ width: errorMessage?.image?.desiredWidth + 'px' }"
    [width]="errorMessage?.image?.realWidth"
    [height]="errorMessage?.image?.realHeight"
  />
  <h3>{{ errorMessage?.title }}</h3>
  <p>
    {{ errorMessage?.message }}
  </p>
  <button
    class="error-message-action"
    mat-flat-button
    color="primary"
    (click)="errorMessage?.button?.action()"
  >
    {{ errorMessage?.button?.label }}
  </button>
</div>
