$primary: mat-palette($mat-green);

// Background palette.
$custom-light-theme-background: (
  background: white,
);

// Foreground palette.
$custom-light-theme-foreground: ();

// Color palettes.
$custom-primary: (
  50: #e5e6ed,
  100: #bec1d1,
  200: #9297b3,
  300: #666d94,
  400: #464e7d,
  500: #252f66,
  600: #212a5e,
  700: #1b2353,
  800: #161d49,
  900: #0d1238,
  A100: #737fff,
  A200: #4050ff,
  A400: #0d22ff,
  A700: #0015f2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$light-primary: mat-palette($custom-primary, 500, 400, 600);
$light-accent: mat-palette($mat-indigo, 600, 400, 700);
$light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Remplacement des palettes par défaut
$background: map-get($light-theme, background);
$foreground: map-get($light-theme, foreground);
$background: map_merge($background, $custom-light-theme-background);
$foreground: map-merge($foreground, $custom-light-theme-foreground);
$light-theme: map_merge(
  $light-theme,
  (
    background: $background,
    foreground: $foreground,
  )
);
