/**
 * Basic typography style
 */
body {
  font-family: $font-family;
  letter-spacing: 0.2px;
}

.mat-h2 {
  letter-spacing: 0.5px;
  font-size: 1.2rem !important;
  margin-bottom: 0rem;
  color: #4c4c51;
  margin: 0 !important;
}
